{{ $baseDir := .BaseFolderPath -}}
{{ $specFolder := .Spec.FolderRelPath -}}
{{ $specIndexName := .Spec.IndexName -}}
{{ $refsFolder := .Refs.FolderRelPath -}}
{{ $specIndexRef := .Refs.IndexExampleRefName -}}
{{ $specRef := .Refs.ExampleRefName -}}
{{ $bugSpecRef := .Refs.BugExampleRefName -}}
{{ $sessionStateName := .SessionStateFileName -}}
{{ $planFileName := .PlanFileName -}}
{{ $taskFileName := .TaskFileName -}}
{{ $changelogName := .ChangelogFileName -}}
### discuss-feature

Before beginning, ask the developer to consider committing any prior changes to the project to source control before continuing.

Follow these steps:

1. Read the project spec.
2. Ask the developer clarifying questions about their request. After each response, state your confidence level (0-100%) in understanding what the developer wants to build. Continue asking questions until you reach at least 85% confidence.
3. After reaching >85% confidence, ask the developer to continue refining or proceed with sensible defaults.
4. After confirmation, summarize the understood requirements and write them to `{{ $baseDir }}/{{ $planFileName }}`.

#### Criteria

- [ ] Summary of requirements written to {{ $baseDir }}/{{ $planFileName }}
- [ ] Developer confirms understanding
